@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font-family: 'Oswald', sans-serif;
  color: white;
  overflow-x: hidden; 
  overflow-y: auto; 
}
html, #root {
  height: auto; 
  min-height: 100%;
}